body {
    background-color: #1f1f1f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin: 3rem 0;
}

.display {
    border: 2px white solid;
    min-width: 500px;
    min-height: 800px;
}