body {
    background-color: #1f1f1f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.display {
    color: white;
    border: 2px white solid;
    padding: 1rem;
    min-width: 500px;
    min-height: 800px;

    max-height: 60vh;

    overflow: auto;
}

.buttons {
    margin-top: 1rem;
    gap: 15px;
}

.book-list {
    display: grid;
    gap: 0.5rem;
}

/* Book styling */
.book {
    border: white solid 1px;
    padding: 0.5rem;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1.5fr 2fr;
    gap: 10px;

    align-items: center;
}

.book h2 {
    padding: 0;
    margin: 0;
}

.book-buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

/* Button styling */
button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0078D7;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

button:hover {
    background-color: #005EA6;
    transform: translateY(-2px);
}

button:active {
    background-color: #00407A;
    transform: translateY(0);
}

/* Dialog */
dialog#create-new-book {
    padding: 20px;
    background: #f0f0f0;
    border-radius: 8px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}